! ----------------------------------------------------------------------------
! file:     ~/.Xresources
! author:   Kevin Wells - http://kevinwells.me
! vim:nu:ai:si:et:ts=4:sw=4:ft=xdefaults:
! ----------------------------------------------------------------------------

! terminal colors ------------------------------------------------------------

!! tangoesque scheme
!*background: #111111
!*foreground: #babdb6
!! Black (not tango) + DarkGrey
!*color0:  #000000
!*color8:  #555753
!! DarkRed + Red
!*color1:  #ff6565
!*color9:  #ff8d8d
!! DarkGreen + Green
!*color2:  #93d44f
!*color10: #c8e7a8
!! DarkYellow + Yellow
!*color3:  #eab93d
!*color11: #ffc123
!! DarkBlue + Blue
!*color4:  #204a87
!*color12: #3465a4
!! DarkMangenta + Mangenta
!*color5:  #ce5c00
!*color13: #f57900
!!DarkCyan + Cyan (both not tango)
!*color6:  #89b6e2
!*color14: #46a4ff
!! LightGrey + White
!*color7:  #cccccc
!*color15: #ffffff

!TODO uncomment block
!*background: #111111
!*background: #000000
!*foreground: #babdb6
!*foreground:  #daddd6
*color0: black
*color1: red3
*color2: green3
*color3: yellow3
*color4: blue2
*color5: magenta3
*color6: cyan3
*color7: gray90
*color8: gray50
*color9: red
*color10: green
*color11: yellow
*color12: rgb:5c/5c/ff
*color13: magenta
*color14: cyan
*color15: white

! Xterm ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

xterm.vt100.faceName: Inconsolata:style=Medium 
xterm.vt100.faceSize: 14
xterm.vt100.scrollTtyOutput: false
xterm.vt100.scrollKey: true
xterm.vt100.background: #000000
xterm.vt100.foreground: #babdb6

*vt100*translations:        #override \n\
 ~Ctrl ~Meta <Btn3Down>:    visual-bell() \n\
       ~Meta <Btn3Motion>:  visual-bell() \n\

!*vt100.colorBDMode:     true
!*vt100.colorBD:         red
!*vt100.colorULMode:     true
!*vt100.colorUL:         cyan
*vt100.veryBoldColors:  6

! Eterm-unicode ---------------------------------------------------------------
!aterm*font:      -*-terminus-*-*-*-*-16-*-*-*-*-*-*-*
!aterm*font:      -*-terminus-medium-*-normal-*-17-*-*-*-*-*-*-*
!aterm*boldFont:  -*-terminus-bold-*-normal-*-17-*-*-*-*-*-*-*
aterm*font:       -*-fixed-medium-r-normal--*-140-*-*-*-*-iso8859-1
aterm*boldFont:   -*-fixed-bold-r-normal--*-*-140-*-*-*-*-iso8859-1
aterm*loginShell:false
!aterm*transparent:true
!aterm*shading:60
aterm*background:Black
!aterm*background:gray5
aterm*foreground:White
aterm*scrollBar:false
!aterm*scrollBar_right:true
!aterm*transpscrollbar:true
aterm*saveLines:32767
!aterm*font:*-*-fixed-medium-r-normal--*-140-*-*-*-*-iso8859-1
!aterm*boldFont:*-*-fixed-bold-r-normal--*-*-140-*-*-*-*-iso8859-1

! rxvt-unicode ---------------------------------------------------------------

! font preference
!urxvt*font:      -*-terminus-*-*-*-*-16-*-*-*-*-*-*-*
!urxvt*boldFont:  -*-terminus-*-*-*-*-16-*-*-*-*-*-*-*
urxvt*font:      xft:inconsolata:pixelsize=16
urxvt*boldFont:  xft:inconsolata:pixelsize=16
!initial size
urxvt*geometry:           120x35
!internal whitespace
urxvt*internalBorder:     5
!fade text n% upon unfocus
urxvt*fading:             20
!darken=(0 to 100) lighten=(-1 to -100)
urxvt*shading:            30
!tint background with this color
urxvt*tintColor:          black
!set to 32-bit for real transparency (compositing required)
!urxvt*depth:             24
!save n lines of scrollback buffer
urxvt*saveLines:          32767
!flash screen for attention
urxvt*visualBell:         true
!jump to bottom (prompt) on keypress
urxvt*scrollTtyKeypress:  true
!jump to bottom (prompt) when tty gets new lines
urxvt*scrollWithBuffer:   false
!jump to bottom (prompt) on tty output
urxvt*scrollTtyOutput:    false
!toggle scrollbar
urxvt*scrollBar:          false
!scrollbar styles: rxvt, plain, next or xterm
urxvt*scrollstyle:        plain
!scrollbar alignment
urxvt*scrollBar_right:    true
urxvt*scrollColor:        #777777
urxvt*cursorColor:        #ffcc00
!enable pseudo-transparency (requires depth: 24 (see above))
urxvt*inheritPixmap:      true
!delimiters for double-click mouse selection
urxvt*cutchars:           "()*,<>[]{}|'"
!screen dump settings
urxvt*print-pipe:         cat > $(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
!secondary screen scroll (default enabled)
urxvt*secondaryScroll:    true
!de-iconify (map) on receipt of a bell character
urxvt*mapAlert:           true
!inhibit writing record into the system log file utmp
urxvt*utmpInhibit:        true
!! BEGIN urlLauncher settings !!
urxvt*perl-lib:           /usr/lib/urxvt/perl/
urxvt*perl-ext-common:    default,matcher
urxvt*urlLauncher:        /usr/bin/chromium
urxvt*matcher.button:     1
!! END urlLauncher settings !!

!transparent=0000 opaque=ffff
urxvt*background: rgba:1111/1111/1111/dddd

! Xcursor --------------------------------------------------------------------

!Xcursor.theme: Vanilla-DMZ-AA
Xcursor.theme: DMZ-white
Xcursor.size:  22

