MonoDevelop
MonoDevelop-5.0
Mumble
NuGet
Trolltech.conf
awesome
chromium
dconf
freerdp
gaijin_games
glade.conf
google-musicmanager
gtk-2.0
inkscape
libreoffice
menus
pulse
spicy
stetic
unity3d
virt-viewer
vlc
weston.ini
xbuild
